body {
    background-color: black;
    margin-left: 5px;
}

h2{
    color: #fa1e9e;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.textTitle {
    color: #fa1e9e;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;    
}

.textStyleBody {
    color: #fa1e9e;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: #330721;
    width: 100px;
    margin: 10px;
    padding: 10px;
    text-align: center;  
    font-size: 30px;
}

.music {
  background: #000000;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

audio {
  width: 100%;
}
