body {
  background-color: #ff9159;
}

h1 {
  color: #250000;
  margin-left: 20px;
}

h2 {
  color: #464040;
}

div {
  background-color: #FFF9F9;
}

.center{
  text-align: center;
  color: #5F5146
}
